@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    overflow-x: hidden;
}
body{
    font-family: "Work Sans", sans-serif;
    background-color: #F4F1F2;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
}
a:link, a:visited {
    text-decoration: none;
    color: #000;
}
li a{
    display: block;
}
#store-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.light-green {
    color: #9CB08D;
}
/* NAVBAR STYLES */
/* NAVBAR STYLES */
/* NAVBAR STYLES */
#navbar-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: .75rem;
    text-align: center;
    /*background-color: rgb(220, 223, 236);  lavender web */
    background-color: #d9e1db;
    width: 100%;   
    z-index: 100;
}
#hamburger-icon{
    display: flex;
    flex-direction:row;
    align-items: start;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
#profile-icon{
    display: flex;
    flex-direction:row;
    align-items: end;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}
#navbar-links{
    padding-top: 7px;
    padding-bottom: 15px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    position: sticky;
    font-family: 'roboto', sans-serif;

}
/* HERO SECTION STYLES */
/* HERO SECTION STYLES */
/* HERO SECTION STYLES */

/* HERO SECTION AVOCADO */
/* CONTENTS */
.test{
    background-color: #F4F1F2;
    height: 695px;
    display: flex;
    flex-direction: column; 
    position: relative;
}
#hero-main-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 70px;
    left: 50px;
    position: absolute;
    color: black;
    text-align: left;
    font-size: 55px;
    font-family: 'roboto', sans-serif;
}
#hero-sub-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    color: black; 
    font-family: 'roboto', sans-serif;
    top: 210px;
    left: 50px;
    text-align: left;
    font-size: 20px;

}
#avocado-hero-image{
    height: 725px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto; 
    top: 0;
    right: -85px;
    display: inline-block;
    position: absolute;
}
#hero-corner-leaf{
    height: 600px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto; 
    top: 100px;
    left: 0px;
    display: inline-block;
    position: absolute;
}
.test::after{
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    content: "";
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
    
/* HERO SECTION AVOCADO */

/* HERO SECTION SHOPPERS */
/* CONTENTS 
.test-two{
    background-color: #F4F1F2;
    height: 695px;
    display: flex;
    flex-direction: column; 
    position: relative;
}
#hero-background{
    width: 100%;
    height: 690px;
    display: block;
    object-fit: cover;
    object-position: center top;
}
.hero-main-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: 'roboto', sans-serif;
}
#slogan-text{
    top: 80px;
    left: 215px;
    text-align: left;
    font-size: 50px;
    z-index: 2;
    font-family: 'roboto', sans-serif;

}
.hero-sub-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    color: black; 
    text-align: left;
}
#hero-subheader-one{
    top: 215px;
    left: 215px;
    text-align: left;
    font-size: 20px;
    z-index: 2;
    font-family: 'roboto', sans-serif;
}
#avocado-hero-image{
    height: 725px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto; 
    top: 0;
    right: -50px;
    display: inline-block;
    position: absolute;
}
#hero-corner-leaf{
    height: 600px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto; 
    top: 100px;
    left: 0px;
    display: inline-block;
    position: absolute;
}
.test-two::after{
    position: absolute;
    background: rgba(222, 219, 219, 0.73);
    content: "";
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
*/
/* HERO SECTION SHOPPERS */